# .gitignore
# Узлы и зависимости
node_modules/
dist/
dist-ssr/
*.local
**/.gemini_backups

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE и ОС
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db